* {
    font-family: 'Maple Mono NF CN';
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-drag: none;
}

a {
    color: #004385;
    text-decoration: none;
    transition: all;
    transition-duration: 400ms;
}

a:hover {
    color: #73BCFB;
}

